@model WWBG.Models.RegisterViewModel
@{

    ViewBag.Title = "Register";

        <!DOCTYPE html>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap -->
        <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <!-- NProgress -->
        <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
        <!-- iCheck -->
        <link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
        <!-- bootstrap-wysiwyg -->
        <link href="~/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
        <!-- Select2 -->
        <link href="~/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
        <!-- Switchery -->
        <link href="~/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
        <!-- starrr -->
        <link href="~/vendors/starrr/dist/starrr.css" rel="stylesheet">
        <!-- bootstrap-daterangepicker -->
        <link href="~/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

        <!-- Custom Theme Style -->
    <link href="~/Content/NewCSS1/css/custom.min.css" rel="stylesheet">
    <link href="~/Content/themes/base/datepicker.css" rel="stylesheet">

          }


<div style="width:50% ; margin-left:auto; margin-right:auto">
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="">
            <div class="x_title"><h1>Register</h1></div>
            @using (Ajax.BeginForm("Register", "Account", new AjaxOptions { LoadingElementId = "loader", OnSuccess = "onSuccess" }, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary("", new { @class = "text-danger" })
                                    <!-- start form for validation -->
              
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.FirstName, new { @class = "" })
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.LastName, new { @class = "" })

                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                        </div>
                    

                

                    <div class="col-md-6">
                        @Html.LabelFor(m => m.PhoneNumber, new { @class = "" })

                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control"  })
                        </div>

                    <div class="col-md-6">
                        @Html.LabelFor(m => m.Email, new { @class = "" })

                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.Password, new { @class = "" })

                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "" })

                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                  
                    <br />

            <br />
            <center>
                <div class="form-group">
                      <input type="submit"  class="btn btn-success" value="Register" />
                </div>
            </center>

            }

        </div>


        </div>

    </div>
    </div>

<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script src="~/Content/Landing/js/jquery.js"></script>
<script src="~/Content/Landing/js/bootstrap.min.js"></script>
@section Scripts {
    
<script type="text/javascript">
        $(function () { // will trigger when the document is ready
            $('#class').hide();
            $('#faculty').hide();
            $('.date-picker').datepicker(); //Initialise any date pickers
        });

        $('#academics').on('change', function () {
            if (this.value == 3) {
                $('#faculty').show();
                $('#class').hide();
            }
            else {
                $('#class').show();
                $('#faculty').hide();
            }

        })
</script>
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
}













